<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <p>COOKIES</p>
    <div class="row">
    <% @output.each do |item| %>
    <div>
        <div>
            <img src=<%= item.image %> alt="Cookie" id="img">
            <div>
                <h4><%= item.description%></h4>
                <p>Price per item: <%= item.price%></p>
            </div>
        </div>
    </div>
    <% end %>
</div>
  </body>
</html>
