<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cuckoo For Cupcakes</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <h3>Welcome to Cuckoo For Cupcakes!</h3>

    <form action="/" method="POST">
      <input name="query" />
      <button> Search by cookies... </button>
    </form>

  </body>
</html>
