<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cuckoo For Cupcakes</title>
    <!-- <link rel="stylesheet" href="/main.css"> -->
  </head>
  <body>
    <header id="up">
      <h3 id="title">Welcome to Cuckoo For Cupcakes!</h3>
    </header>

    <!-- <form action="/" method="POST">
      <input name="query" />
      <button> Search by cookies... </button>
    </form> -->

    <aside id="side">
      <button type="button" class="btn" id="cake"><a href="cake">Cake</a></button>
      <button type="button" class="btn" id="cookies"><a href="cookies">Cookies</a></button>
      <button type="button" class="btn" id="muffins"><a href="muffins">Muffins</a></button>
    </aside>

    <footer id="down">
      <p> Cuckoo for Cupcakes <br>
        Copyright 2019 <br>
        Ramata Williams Bah <br>
       </p>
    </footer>

  </body>
</html>
