<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Friendly Bakery</title>
    <link rel="stylesheet" href="./main.css">
  </head>
  <body>
    <aside id="side">

    </aside>
    <nav id="up">

    </nav>
    <%= yield %>
    <footer id="down"></footer>
  </body>
</html>
